<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- 指定hibernate配置文件路径,创建会话工厂 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml">
		</property>
	</bean>

	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>


	<!-- 配置userServiceTarget Bean的事务代理 -->
	<bean id="userService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<!-- 依赖注入PlatformTransactionManager的bean引用，此处使用 Hibernate的bean -->
		<!-- 局部事务器，传入Hibernate事务管理器的引用 -->
		<property name="transactionManager" ref="transactionManager" />
		<!-- 需要生成代理的目标bean -->
		<property name="target" ref="userServiceTarget" />
		<!-- 指定事务属性 -->
		<property name="transactionAttributes">
			<props>
				<!-- 以下部分为定义事务回滚规则 -->
				<prop key="insert*">PROPAGATION_REQUIRED,-MyCheckedException</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>


	<bean id="userDaoImpl" class="com.myweb.dao.impl.UserDaoImpl">
	</bean>

	<bean id="userServiceTarget" class="com.myweb.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDaoImpl"></property>
	</bean>

	<bean id="userAction" class="com.myweb.action.UserAction">
		<property name="userService" ref="userServiceTarget"></property>
	</bean>

</beans>