<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- 指定hibernate配置文件路径,创建会话工厂 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml">
		</property>
		<property name="mappingResources">
			<list>
				<value>com/myweb/entity/User.hbm.xml</value>
				<value>com/myweb/entity/Article.hbm.xml</value>
				<value>com/myweb/entity/Category.hbm.xml</value>
				<value>com/myweb/entity/Picture.hbm.xml</value>
				<value>com/myweb/entity/Sendcard.hbm.xml</value>
				<value>com/myweb/entity/Followcard.hbm.xml</value>
				<value>com/myweb/entity/Favorite.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- 配置事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED"
				rollback-for="Exception" />
			<tx:method name="add*" propagation="REQUIRED" rollback-for="Exception" />
			<tx:method name="update*" propagation="REQUIRED"
				rollback-for="Exception" />
			<tx:method name="delete*" propagation="REQUIRED"
				rollback-for="Exception" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<!-- 配置事务切点 -->
	<aop:config>
		<aop:pointcut id="UserServicePoint" expression="bean(userService)" />
		<aop:pointcut id="articleServicePoint" expression="bean(articleService)" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="UserServicePoint" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="articleServicePoint" />
	</aop:config>
	
	<!-- dao层bean配置 -->
	<import resource="com/myweb/dao/application-dao.xml" />
	<!-- service层bean配置 -->
	<import resource="com/myweb/service/application-service.xml" />
	<!-- action层bean配置 -->
	<import resource="com/myweb/action/application-action.xml" />
</beans>